test-resources/base/EffectivePolicy_Fault.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://policy.tests.webservices.ibm.com"
	xmlns:sec="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:intf="http://policy.tests.webservices.ibm.com"
	xmlns:impl="http://policy.tests.webservices.ibm.com"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">

	<wsp:Policy wsu:Id="Backoff">
		<wsrm:RMAssertion>
			<wsrm:ExponentialBackoff />
		</wsrm:RMAssertion>
	</wsp:Policy>
	<wsp:Policy wsu:Id="AckAndInactivity">
		<wsp:ExactlyOne>
			<wsrm:RMAssertion>
				<wsrm:AcknowledgementInterval Milliseconds="4000" />
			</wsrm:RMAssertion>
			<wsrm:RMAssertion>
				<wsrm:InactivityTimeout Milliseconds="12000" />
			</wsrm:RMAssertion>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="SecHeader">
		<sec:SecurityHeader MustPrepend="true" />
	</wsp:Policy>
	<wsp:Policy wsu:Id="X509">
		<sec:SecurityToken>
			<sec:TokenType>sec:X509v3</sec:TokenType>
		</sec:SecurityToken>
	</wsp:Policy>

	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://policy.tests.webservices.ibm.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="SimpleRequest">
				<complexType>
					<sequence>
						<element name="request" nillable="true"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="SimpleResponse">
				<complexType>
					<sequence>
						<element name="response" nillable="true"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="SimpleFault">
				<complexType>
					<sequence>
						<element name="fault" nillable="true"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="MyRequestMessage">
		<wsp:PolicyReference URI="#X509" />
		<wsdl:part name="parameters" element="intf:SimpleRequest" />
	</wsdl:message>

	<wsdl:message name="MyResponseMessage">
		<wsp:PolicyReference URI="#X509" />
		<wsdl:part name="parameters" element="intf:SimpleResponse" />
	</wsdl:message>

	<wsdl:message name="MyFaultMessage">
		<wsdl:part name="parameters" element="intf:SimpleFault" />
	</wsdl:message>


	<wsdl:message name="AnotherRequestMessage">
		<wsdl:part name="parameters" element="intf:SimpleRequest" />
	</wsdl:message>

	<wsdl:message name="AnotherResponseMessage">
		<wsdl:part name="parameters" element="intf:SimpleResponse" />
	</wsdl:message>

	<wsdl:message name="AnotherFaultMessage">
		<wsdl:part name="parameters" element="intf:SimpleFault" />
	</wsdl:message>

	<wsdl:message name="YetAnotherFaultMessage">
		<wsp:PolicyReference URI="#X509" />
		<wsdl:part name="parameters" element="intf:SimpleFault" />
	</wsdl:message>

	<wsdl:message name="AndAnotherFaultMessage">
		<wsp:PolicyReference URI="#X509" />
		<wsdl:part name="parameters" element="intf:SimpleFault" />
	</wsdl:message>

	<wsdl:portType name="MyPortType" wsp:PolicyURIs="#SecHeader">
		<wsdl:operation name="MyOperation">
			<wsdl:input name="MyInput" message="intf:MyRequestMessage" />
			<wsdl:output name="MyOutput"
				message="intf:MyResponseMessage" />
			<wsdl:fault name="ExtraFault" message="intf:MyFaultMessage"
				wsp:PolicyURIs="#X509" />
			<wsdl:fault name="YetAnotherFault"
				message="intf:MyFaultMessage" wsp:PolicyURIs="#X509" />
			<wsdl:fault name="AndAnotherFault"
				message="intf:MyFaultMessage" wsp:PolicyURIs="#X509" />
			<wsdl:fault name="MyFault" message="intf:MyFaultMessage"
				wsp:PolicyURIs="#AckAndInactivity" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="AnotherPortType">
		<wsdl:operation name="AnotherOperation">
			<wsdl:input name="AnotherInput"
				message="intf:AnotherRequestMessage" />
			<wsdl:output name="AnotherOutput"
				message="intf:AnotherResponseMessage" />
			<wsdl:fault name="AnotherFault"
				message="intf:AnotherFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MyBinding" type="intf:MyPortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="MyOperation">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="MyInput">
				<wsp:Policy>
					<sec:MessageAge Age="2000" />
				</wsp:Policy>
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="MyOutput">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="MyFault">
				<wsp:Policy>
					<wsrm:RMAssertion>
						<wsrm:BaseRetransmissionInterval
							Milliseconds="6000" />
					</wsrm:RMAssertion>
					<wsp:PolicyReference URI="#Backoff" />
				</wsp:Policy>
				<wsdlsoap:body use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="AnotherBinding" type="intf:AnotherPortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AnotherOperation">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="AnotherInput">
				<wsp:Policy>
					<sec:MessageAge Age="2000" />
				</wsp:Policy>
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AnotherOutput">
				<wsp:Policy>
					<sec:MessageAge Age="2000" />
				</wsp:Policy>
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AnotherService">
		<wsdl:port name="MyPort" binding="intf:MyBinding">
			<wsdlsoap:address
				location="http://localhost:8080/services/Dumdum" />
		</wsdl:port>

		<wsdl:port name="AnotherPort" binding="intf:AnotherBinding">
			<wsdlsoap:address
				location="http://localhost:8080/services/DumdumAgain" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="MyService">
		<wsp:Policy>
			<sec:SecurityToken>
				<sec:TokenType>sec:UsernameToken</sec:TokenType>
			</sec:SecurityToken>
		</wsp:Policy>

		<wsdl:port name="MyPort" binding="intf:MyBinding">
			<wsdlsoap:address
				location="http://localhost:9080/services/Dumdum" />
		</wsdl:port>

		<wsdl:port name="AnotherPort" binding="intf:AnotherBinding">
			<wsdlsoap:address
				location="http://localhost:9080/services/DumdumAgain" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
