src/test/test-resources/base/EffectivePolicy_NoPolicies.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://policy.tests.webservices.com"
	xmlns:sec="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:intf="http://policy.tests.webservices.com"
	xmlns:impl="http://policy.tests.webservices.com"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:cal="http://policy.test.webservices.com/calendar"
	xmlns:util="http://policy.test.webservices.com/util"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">

	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://policy.tests.webservices.ibm.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="SimpleRequest">
				<complexType>
					<sequence>
						<element name="request" nillable="true"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="SimpleResponse">
				<complexType>
					<sequence>
						<element name="response" nillable="true"
							type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="MyRequestMessage">
		<wsdl:part name="parameters" element="intf:SimpleRequest" />
	</wsdl:message>
	<wsdl:message name="MyResponseMessage">
		<wsdl:part name="parameters" element="intf:SimpleResponse" />
	</wsdl:message>
	<wsdl:message name="MyFaultMessage">
		<wsdl:part name="parameters" element="intf:SimpleFault" />
	</wsdl:message>

	<wsdl:message name="AnotherRequestMessage">
		<wsdl:part name="parameters" element="intf:SimpleRequest" />
	</wsdl:message>
	<wsdl:message name="AnotherResponseMessage">
		<wsdl:part name="parameters" element="intf:SimpleResponse" />
	</wsdl:message>
	<wsdl:message name="AnotherFaultMessage">
		<wsdl:part name="parameters" element="intf:SimpleFault" />
	</wsdl:message>

	<wsdl:portType name="MyPortType">
		<wsdl:operation name="MyOperation">
			<wsdl:input name="MyInput" message="intf:MyRequestMessage" />
			<wsdl:output name="MyOutput"
				message="intf:MyResponseMessage" />
			<wsdl:fault name="MyFault" message="intf:MyFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:portType name="AnotherPortType">
		<wsdl:operation name="AnotherOperation">
			<wsdl:input name="AnotherInput"
				message="intf:AnotherRequestMessage" />
			<wsdl:output name="AnotherOutput"
				message="intf:AnotherResponseMessage" />
			<wsdl:fault name="AnotherFault"
				message="intf:AnotherFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MyBinding" type="intf:MyPortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="MyOperation">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="MyInput">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="MyOutput">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="AnotherBinding" type="intf:AnotherPortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="AnotherOperation">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="AnotherInput">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AnotherOutput">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="AnotherService">
		<wsdl:port name="MyPort" binding="intf:MyBinding">
			<wsdlsoap:address
				location="http://localhost:8080/services/Dumdum" />
		</wsdl:port>

		<wsdl:port name="AnotherPort" binding="intf:AnotherBinding">
			<wsdlsoap:address
				location="http://localhost:8080/services/DumdumAgain" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="MyService">
		<wsdl:port name="MyPort" binding="intf:MyBinding">
			<wsdlsoap:address
				location="http://localhost:9080/services/Dumdum" />
		</wsdl:port>

		<wsdl:port name="AnotherPort" binding="intf:AnotherBinding">
			<wsdlsoap:address
				location="http://localhost:9080/services/DumdumAgain" />
		</wsdl:port>

	</wsdl:service>
</wsdl:definitions>
